[Unit]
Description=Gridbox Tunnel
After=network-online.target

[Service]
ExecStart=/opt/gridbox-platform/pi/scripts/firstboot.sh
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
