name: Deploy API to Cloud Run

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Configure Docker
        run: gcloud auth configure-docker europe-west1-docker.pkg.dev --quiet

      - name: Build Docker image
        run: |
          docker build \
            -f api/Dockerfile \
            -t europe-west1-docker.pkg.dev/gridbox-platform/gridbox-api/api:latest \
            ./api

      - name: Push Docker image
        run: |
          docker push europe-west1-docker.pkg.dev/gridbox-platform/gridbox-api/api:latest

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy gridbox-api \
            --image europe-west1-docker.pkg.dev/gridbox-platform/gridbox-api/api:latest \
            --platform managed \
            --region europe-west1 \
            --allow-unauthenticated
