name: Deploy API to Cloud Run

# Wanneer moet deze workflow draaien?
on:
  push:
    branches:
      - main
    paths:
      - "api/**"        # Enkel deployen als er iets in de api-map verandert

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: gridbox-platform
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          export_default_credentials: true

      - name: Deploy API to Cloud Run
        working-directory: api
        run: |
          gcloud run deploy gridbox-api \
            --source . \
            --region europe-west1 \
            --platform managed \
            --allow-unauthenticated
